/* CSS file for portfolio */

/* root to define overall vars and stuff. for now just --bg-color */
:root {
  --bg-color: rgb(50, 50, 35);
}

/* padding definitions */
/* may not need this one */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} */

body {
  background-color: var(--bg-color);
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

/* center elements */
.text-center {
  text-align: center;
  width: 100%;
}
/* created for about bg image, but not working */
.center {
  display: grid;
  /* margin-right: auto;
  margin-left: auto;
  width: 50%; */
  place-items: center;
}

/* navbar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position - This line is currently causing the navbar to not appear on the page*/
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: inline;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li {
  list-style-type: none; /*removes bullets from links, thank god*/
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/* hero bg image */
.herobgimage {
  height: 100vh;
  background: url('images/hero_header.jpg');
  background-size: cover;
  position: relative;
}
/* hero header text */
.hero_title {
  font-size: 4.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* give text an outline. only works this way up to 1px outline size */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* about */
#about {
  color: white; /*set text color to white for all of about*/
}
#about > p {
  text-align: center;
}
#about > ul li {
  text-align: center;
  list-style-position: inside;
  vertical-align: middle;
}
.aboutbgimage {
  display: block;
  margin: 0 auto;
  width: 35%;
  background: url('images/about.jpg');
}

/* services */
#services {
  color: white; /*set text color to white for all of services*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  /* max-width: 1860px; */
  width: calc(100% - 20px);
}
.card-body {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  height: 260px;
  width: 300px;
}
/* .card {
  display: flex;
  flex-wrap: wrap;
  max-width: 916px;
  gap: 8px;
  width: calc(100% - 20px);
} */
